                <!-- Modal define api-->
                <div class="modal fade" id="api" tabindex="-1" role="dialog" aria-labelledby="api" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="api">{{device}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form method="POST">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{ip}}</label>
                                        <input type="text" name="ip" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="">
                                        <small id="emailHelp" class="form-text text-muted">{{exampleIP}}</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">{{APIKey}}</label>
                                        <input type="text" name="api" class="form-control" id="exampleInputPassword1"
                                            placeholder="">
                                        <small id="emailHelp" class="form-text text-muted">{{exampleAPI}}</small>
                                    </div>

                                    <button style="float: right;" type="submit" class="btn btn-primary">{{Submit}}</button>
                                </form>

                            </div>
                            {# <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{Close}}</button>
                            </div> #}
                        </div>
                    </div>
                </div>